<?xml version="1.0" encoding="utf-8"?>
<manifest package="cz.jarin.parentlock"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- To auto-complete the email text field in the login form with the user's emails -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.READ_PROFILE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".LoginActivity"
			android:label="@string/app_name">
			<!--<intent-filter>-->
				<!--<action android:name="android.intent.action.MAIN"/>-->

				<!--<category android:name="android.intent.category.LAUNCHER"/>-->
			<!--</intent-filter>-->
		</activity>

		<meta-data
			android:name="xposedmodule"
			android:value="true"/>
		<meta-data
			android:name="xposeddescription"
			android:value="Easy example which makes the status bar clock red and adds a smiley"/>
		<meta-data
			android:name="xposedminversion"
			android:value="53"/>

		<activity android:name=".AppListActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<receiver android:name=".services.GetAppInfoService$Receiver"
				  android:exported="true">
			<intent-filter>
				<action
					android:name="cz.jarin.parentlock.action.START_GET_APP_INFO_SERVICE"/>
			</intent-filter>
		</receiver>

		<service android:name=".services.GetAppInfoService"
				 android:exported="true"/>
	</application>

</manifest>